<form [formGroup]="myForm" (ngSubmit)="addProduct(id, name, category, price)">
  <ul class="form__items">
    <li class="form__item"><div class="form__input">{{id}}</div></li>
    <li class="form__item">
      <input class="form__input" name="name" [(ngModel)]="name" placeholder="name" formControlName="userName">
    </li>
    <div *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">
        Не корректно заполнено
    </div>
    <li class="form__item">
      <select class="form__input" [(ngModel)]="category" placeholder="category" formControlName="userCategory">
        <option *ngFor = "let item of CategoriesFrom">{{item.category}}</option>
      </select>
    </li>
    <div *ngIf="myForm.controls['userCategory'].invalid && myForm.controls['userCategory'].touched">
        Выберите категорию
    </div>
    <li class="form__item"><input class="form__input" [(ngModel)]="price" placeholder="price" type="text" formControlName="userPrice"></li>
    <div *ngIf="myForm.controls['userPrice'].invalid && myForm.controls['userPrice'].touched">
        Некорректная цена
    </div>
    <li class="form__item"><button class="form__button" [disabled]="myForm.invalid">Add</button></li>
  </ul>
</form>

