<div style="text-align:center">
  <div class="container">
    <div class="container__left">
      <app-sorting (onChanged)="onChanged($event)" [CategoriesFrom]="categories"></app-sorting>
      <app-products-add (NewProduct)="addProduct($event)" [id]="Id" [CategoriesFrom]="categories"></app-products-add>
     
    </div>
    <div class="container__right">
      <div class="container__right-top">
        <div class="per-page">
          <select [value]="productsPerPage" (change)="changePageSize($event.target.value)" class="per-page__select">
            <option value="2">2 per page</option>
            <option value="3">3 per page</option>
            <option value="5">5 per page</option>
            <option value="8">8 per page</option>
          </select>
        </div>
        <div class="current-page">
          <button *ngFor="let page of pageNumbers" (click)="changePage(page)" [class.active]="page == selectedPage" class="current-page__btn">{{page}}</button>
        </div>
      </div>
      <app-products [ProductsFrom]="products"></app-products>
    </div>
  </div>

  <p *ngFor="let cat of productsFromFile">{{cat?.name}}</p>

