:host {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.products__items {
  width: 80%;
  padding: 0;
  margin: 0;
}

.products__item {
  padding: 10px 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: black;
  &--top {
    .products__info {
      background: rgba(20,20,20,0.7);
      color: white;
    }
  }
}

.products__info {
  font-size: 24px;
  padding: 5px 0;
  display: block;
  width: 30%;
  text-align: center;
  border: 1px solid black;
  border-right: none;
}

.products__info:first-child {
  width: 10%;
}

.products__info:last-child {
  border-right: 1px solid black;
}
