
<ul class="products__items">
  <li class="products__item products__item--top">
    <span class="products__info">ID</span>
    <span class="products__info">name</span>
    <span class="products__info">price</span>
    <span class="products__info">category</span>
  </li>
  <li class="products__item" *ngFor="let product of ProductsFrom">
    <span class="products__info">{{product.id}}</span>
    <span class="products__info">{{product.name}}</span>
    <span class="products__info">{{product.price | currency:"USD":true:"2.2-2" }}</span>
    <span class="products__info">{{product.category}}</span>
  </li>
</ul>
